{% extends "base.html" %}

{% block content %}

<div class="row">
    {% include "shared/coordinate_form.html" %}

    <table>
        <thead>
            <tr>
                <th>Landmark</th>
                <th>ID</th>
                <th>Coordinates</th>
            </tr>
        </thead>
        <tbody>
            {% for landmark in landmarks %}
            <tr>
                <td>{{ landmark.name }}</td>
                <td>{{ landmark.id }}</td>
                <td>{{ landmark.latitude }}, {{ landmark.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}